<%layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">

    <h3>Create a new listing</h3>
    
    <form method="post" action="/listings" class="needs-validation"  novalidate enctype="multipart/form-data">
        
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="listing[title]"  class="form-control" placeholder="Add a catchy title"  required  >       <!--required-->
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Enter Title ?</div>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]"  class="form-control" required ></textarea>
    <div class="valid-feedback">Looks good!</div>
     <div class="invalid-feedback">Please enter a short description </div>
  </div>

 
   <div class="mb-3">
    <label for="image" class="form-label">Upload Listing Image</label>
    <input type="file" name="listing[image]" class="form-control" required>
  </div>
  <div class="row">
  <div class="mb-3 col-md-4">
    <label for="price" class="form-label">Price (₹)</label>
    <input  name="listing[price]"  type="number"class="form-control" placeholder="1200" min="0" required>
     <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Enter Price ?</div>
  </div>

  <div class="mb-3 col-md-8">
    <label for="country" class="form-label">Country</label>
    <input type="text" name="listing[country]"  class="form-control" placeholder="India" required>
     <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Country name should be valid</div>
  </div>
  </div>
  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input type="text" name="listing[location]"  class="form-control" placeholder="Mumbai,Maharashtra" required>
     <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Location should be valid</div>
  </div>

  <button class="btn btn-danger add-btn">Add </button>
  <br><br>
    </form>
    </div>
    </div>
</body>
