<%layout("/layouts/boilerplate")%>
<body>
    <div class="row-8">
        <h1 class="col-6 offset-2">LogIn </h1>
        <div class="col-6 offset-2">
            <form method="post" action="/login" class="needs-validation"  novalidate>
                
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username"  class="form-control" required  >       <!--required-->
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Enter username</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password"  class="form-control" required  >       <!--required-->
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Enter password!</div>
                    </div>
                    <button class="btn btn-success add-btn">LogIn</button>
            </form>
        </div>
    </div>
</body>            
             